<div class="carousel-item col-md-3 {{#if active}}active{{/if}}">
    <img class="img-fluid mx-auto d-block" src="{{img}}" alt="slide 1">
    <img class="img-fluid mx-auto d-block" src="{{img}}" alt="slide 1">
    <img class="img-fluid mx-auto d-block" src="{{img}}" alt="slide 1">
    <img class="img-fluid mx-auto d-block" src="{{img}}" alt="slide 1">
    <img class="img-fluid mx-auto d-block" src="{{img}}" alt="slide 1">
    <img class="img-fluid mx-auto d-block" src="{{img}}" alt="slide 1">
    <img class="img-fluid mx-auto d-block" src="{{img}}" alt="slide 1">
</div>
